#dashboard-body {
  overflow: hidden;
}

.navbar-container {
  height: 100vh;
  max-height: 100vh;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.body-placeholder {
  flex: 5;
  z-index: -10;
  pointer-events: none;
}

.navbar-placeholder {
  flex: 0.8;
  margin-right: 50px;
  height: 100%;
}

.navbar-logo {
  display: flex;
  margin-bottom: 50px;

  img {
    height: 65px;
  }
}

.navbar-links {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.navbar-logout {
  justify-self: end;
  position: absolute;
  bottom: 0;
  transform: translateY(-100%) translateY(-30px);

  .navbar-item {
    padding-bottom: 0;
  }
}

.navbar-item {
  display: flex;
  border-radius: 10px;
  padding: 17px;
  gap: 15px;

  p {
    color: var(--dark);
  }
  
  &.active {
    background-color: var(--primary);

    p {
      color: white;
    }

    svg {
      fill: white;
    }


  }

  &:not(.active):hover {
    p {
      color: var(--primary);
      transition: 0.3s;
    }

    svg {
      fill: var(--primary);
      transition: 0.3s;
    }
  }
}


.dashboard-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 100%;
}

.content-container {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-header-container {
  display: flex;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);

  p {
    color: var(--dark);
    font-weight: 600;
  }

  & > * {
      flex: 1;
    }
}

.list-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 14px;
}

.list-item {
  display: flex;

  & > * {
    flex: 1;
  }
}

.dashboard-summary-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.dashboard-summary-item {
  display: flex;
  flex: 1;
  gap: 15px;
  border-right: 2px solid var(--lighter);

  &:last-child {
      border-right: none;
    }
}

.dashboard-summary-item-icon-container {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--primary);
  border-radius: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
  }
}

.dashboard-summary-item-value {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
    h1 {
      color: var(--dark);
      font-size: 1rem;
    }

    p {
      font-size: 2.4rem;
    }
}

.dashboard-lists-container {
  display: flex;
  gap: var(--spacing);
  height: 100%;
}

.dashboard-transaction-container {
  flex: 0.3;

  .list-item, .list-header-container {
    :nth-child(2) {
      text-align: right;
    }
  }
}

.dashboard-driver-user-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: var(--spacing)
}

.dashboard-driver-container {
  display: flex;
  gap: var(--spacing);
  flex: 1 1 100%;
}

.dashboard-driver-main {
  flex: 1 1 100%;

  .list-item, .list-header-container {
    :nth-child(1) {
      flex: 1;
    }

    :nth-child(2) {
      flex: 1;
    }

    :nth-child(3) {
      flex: 0.3;
    }
  }
}

.driver-status-container { 
  p {
    color: var(--green_dark);
    background-color: var(--green_light);
    width: fit-content;
    font-size: 0.8rem;
    padding: 3px 5px;
    border-radius: 10px;
  }

  &.inactive {
    p {
        color: var(--red_dark);
        background-color: var(--red_light);
      }
  }
}

.dashboard-driver-sub {
  flex: 0.5 1 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  justify-content: space-between;

  h1 {
    color: white;
    margin-bottom: 10px;
  }

  p {
    color: white;
    flex: 1;
    font-weight: 500;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

.dashboard-user-container {
  flex: 1 1 100%;

  .list-item, .list-header-container {
    :nth-child(1) {
      flex: 0.7;
    }

    :nth-child(2) {
      flex: 0.7;
    }

    :nth-child(3) {
      flex: 0.5;
    }

    :nth-child(4) {
      flex: 0.2;
    }
  }
}