.routes-body {
  display: flex;
  width: 100%;
  gap: var(--spacing);
  z-index: 100;
  position: relative;
  padding-bottom: 30px;
}

.routes-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);  
}

.routes-placeholder {
  flex: 3;
}

.price-placeholder {
  flex: 2;
}

.price-body-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.price-container {
  height: fit-content;
  
  .list-item,
  .list-header-container {
    :nth-child(1) {
      flex: 1;
    }

    :nth-child(2) {
      flex: 0.6;
    }

    :nth-child(3) {
      flex: 0.6;
    }
  }
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 0 10px;

    :hover {
      cursor: pointer;
    }
  }

  svg {
    height: 1.1rem;
    width: 1.1rem;
  }
}

.route-container {
  .list-item,
  .list-header-container {
    justify-content: space-between;

    :nth-child(2) {
      text-align: right;
    }
  }

  .list-content-container,
  .list-header-container {
    display: none;
  }

  .list-content-container {
    gap: 30px;
  }

  button,
  a {
    svg {
      transition: 0.3s;
    }
    
    &:hover {
      svg {
        fill: var(--primary);
      }
    }
  }
}

.delete-route-button {
  margin-right: 5px;

  svg {
    height: 1.3em;
    width: 1.3em;
  }

  &:hover {
    svg {
      fill: var(--red_dark) !important;
    }
  }
}

.route-name {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  flex: 1;

  button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    animation-duration: 1s;
    animation-name: none;
    animation-fill-mode: forwards;
  }
}

@keyframes down {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes up {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.add-new-route {
  padding: 30px;
  transition: 0.3s ease-in-out;
  border: 2px dashed var(--light);
  background-color: transparent;

  h1 {
    text-align: center;
    color: var(--dark);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    h1 {
      color: var(--primary);
    }

    border: 2px dashed var(--primary);
  }
}

// .add-new-route-outline {
//   padding: 20px;
//   border-radius: 15px;
//   transition: 0.3s ease-in-out;
// }

// .price-list-display {
//   display: none;
// }

.price-input-container {
  display: none;

  .list-item {
    gap: 10px;

    * {
      width: 80px;
    }
  }

  .input-container {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid var(--light);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s;

    &:has(> input:focus) {
      border: 1px solid var(--primary);
    }

    span {
      position: absolute;
      color: var(--dark);
    }
  }

  input {
    all: unset;
    transform: translateX(20px);
    width: 50px;
    transition: 0.3s;
  }

  button {
    width: fit-content;
    align-self: flex-end;
    background-color: var(--primary);
    padding: 15px 30px;
    color: white;
    margin-top: 20px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: black;
    }
  }
}

#editPricingButton {
  svg {
    transition: 0.3s ease-in-out;
  }
  
  &:hover {
    svg {
      fill: var(--primary);
    }
  }
}

.price-note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  :nth-child(1) {
    font-weight: 900;
  }

  p {
    color: var(--dark);
    font-weight: 600;
    font-style: italic;
  }
}

.new-route-container {
  .list-title {
    width: 100%;

    .route-name {
      width: 50%;
    }

    input {
      font-size: 1.5rem;
      width: 100%;
    }
  }

  .list-header-container,
  .list-content-container {
    display: flex;
    gap: 10px;
  }

  input {
    all: unset;
    border: 1px solid var(--light);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

    &:focus {
      border: 1px solid var(--primary);
    }
  }

  .list-item {
    gap: 30px;
    position: relative;

    input {
      flex: 0.5;
    }

    &:hover {
      .delete-landmark-button {
        opacity: 1;
        pointer-events: all;
        transform: translate(50%);
      }
    }
  }

  .list-header-container {
    span {
      font-size: inherit;
      color: inherit;
      font-style: italic;
      font-weight: inherit;
    }
  }
}

.add-route-button {
  align-self: flex-end;
  background-color: var(--primary);
  padding: 15px 70px;
  color: white;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: black;
  }
}

.add-another-landmark {
  transition: 0.3s ease-in-out;
  border: 2px dashed var(--light);
  background-color: transparent;
  text-align: center;
  color: var(--dark);
  transition: 0.3s ease-in-out;
  width: 100%;

  &:hover {
    color: var(--primary);
    border: 2px dashed var(--primary);
  }
}

.delete-landmark-button {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  background-color: var(--red_dark);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  right: 50%;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);

  svg {
    fill: white;
    width: 100%;
  }
}

.route-error {
  text-align: right;
  color: var(--red_dark);
  font-weight: 600;
  font-style: italic;
  display: none;
}

.routes-body {
  position: relative;
}

.route-delete-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 150;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.delete-route-confirmation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.delete-options-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}

#confirmDelete {
  display: flex;
  gap: 10px;
  background-color: var(--red_dark);
  transition: 0.3s;

  svg {
    fill: white;
  }

  p {
    color: white;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--black);
  }
}

#cancelDelete {
  transition: 0.3s;

  &:hover {
    color: var(--primary);
  }
}