$black: #202020;
$white: #ffffff;
$dark: #626B72;
$light: #D4D4D4;
$primary: #0056c7;
$main_bg: #ecf5fc;
$green_light: #d7f7cf;
$red_light: #ffe4eb;
$green_dark: #4D903C;  
$red_dark: #B43253;  